#nav {
    height: 10%;
    width: 100%;
    background-color: darkcyan;
    color: black;

}

#parent {
    display: table;
}

#display {
    display: table-cell;
    height: 90%;
    width: 60%;

}

#book {
    display: table-cell;
}